<h1>All the posts!</h1>
<ul>
  <% if @posts.empty? %>
  <p>No one has written a blog post so far.</p>
  <% end %>
  <% @posts.each do |post| %>
    <li>
      <%= link_to(post.title, post) %> -
      <%= post.user.full_name %> -
      <%= time_ago_in_words(post.created_at) %> ago
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
<%= link_to "New post", new_post_path %>
<% end %>